body{background-color: rgb(161, 161, 161); font-family:calibri; margin:0px;}
.Contenedor{background-color:white; text-align: center; width:70%; height:90vh; margin-left:15%; margin-top:5vh; box-shadow:1px 1px 20px black; padding-top:200px; box-sizing: border-box;}
#Rojo{color:rgba(255, 0, 0, 0.596);}
#Verde{color:rgba(0, 128, 0, 0.596);}
#Amarillo{color:rgba(255, 255, 0, 0.596);}
#Azul{color:rgba(0, 0, 255, 0.596);}
#BloqueRojo{width:40px; height:40px; background-color:rgba(255, 0, 0, 0.596); border-radius:5px; transform: rotate(45deg); position: absolute; top:350px; left:48.5%;}
#BloqueVerde{width:40px; height:40px; background-color:rgba(0, 128, 0, 0.596); border-radius:5px; transform: rotate(45deg); position: absolute; top:380px; left:51%;}
#BloqueAmarillo{width:40px; height:40px; background-color:rgba(255, 255, 0, 0.596); border-radius:5px; transform: rotate(45deg); position: absolute; top:410px; left:48.5%;}
#BloqueAzul{width:40px; height:40px; background-color:rgba(0, 0, 255, 0.596); border-radius:5px; transform: rotate(45deg); position: absolute; top:380px; left:46%;}